body {
    margin: 0px;
    padding: 0px;
    
}

button {
    /* width: 100px; */
    /* height: 100px; */
    /* needed for centering with margin */
    display: block;
    margin: 0 auto;
}

#container {
    /* width & height of 480px ensures
       all squares are visible */
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    /* box of squares centered horizontally */
    margin: 0 auto;
}

#container > div {
    flex: auto; /* WORKS - default */
    /* to include border in overall width */
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.entered {
    background-color: blue;
}

.exited {
    background-color: none;
}